@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    background-color: #3BA5B4;
}

/* Footer */

footer {
  background-color: #525252;
  color: #fafafa;
  min-height: 120px;
  margin: 0;
}


.booking-icon i {
  font-size: 18px;
  color: #fafafa;
  text-align: center;
  padding-left: 5px;
  transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}

.booking-icon i:hover {
  color: #ff5d50;
}

.social-links {
  padding-bottom: 15px;
}

.social-links li a i {
  width: 32px;
  height: 32px;
  padding: 12px 0;
  border-radius: 50%;
  font-size: 13px;
  line-height: 7px;
  text-align: center;
  color: #fafafa;
  background: #077787;
  transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
  background: #ff5d50;
}

.footer-details {
  padding: 20px;
}

.footer-details ul {
    margin: 0;
}

/* Navigation bar */

.navbar {
    background-color: #077787;
    font-family: 'Montserrat', sans-serif;
}

.navbar a {
    color: #000000;
}

.navbar .navbar-brand {
    font-weight: 700;
}

.navbar .navbar-nav .nav-link {
    font-weight: 500;
}

.navbar .active {
    font-weight: bold;
}

.navbar-nav > li > .dropdown-menu { 
    background-color: #077787; 
    }

.dropdown-menu {
    border: 1px solid #343a40;
}

.dropdown-divider {
    border-top: 1px solid #343a40;
}

/* Book a table Button */

.btn--cta {
    font-weight: bold;
    border-radius: 23px;
    width: 160px;
}

.btn--red {
    color: white;
    background-color: #ff5d50;
    border-color: #ff5d50;
}

.btn--red:hover,
.btn--red:active,
.btn--red:focus,
.btn--red:active:focus {
    background-color: #dc1707;
    border-color: #dc1707;
}

/* home-banner */

.home-banner {
    height: 70vh;
    background: url("../images/table-restaurant.jpg") no-repeat top center fixed;
    background-size: auto 70%;
    -webkit-background-size: auto 70%;
    -moz-background-size: auto 70%;
    -o-background-size: auto 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.2);
}